<div class="nutrient">
    <img src="{{ nutrient.img_url }}" alt="nutrient">
    <div class="nutrient_info">
        <p class="title">{{ nutrient.name }}</p>
        <p class="daily_dose">{{ nutrient.daily_dose_min }} - {{ nutrient.daily_dose_max }} г / кг массы тела</p>
        <p class="desc">{{ nutrient.short_desc }}</p>
    </div>
    <div class="buttons">
        <a href="{% url 'nutrient_info_url' nutrient.id %}">
            <div class="btn btn_desc">Описание</div>
        </a>
        <a href="{% url 'add_dish_composition_nutrient_url' nutrient.id %}">
            <div class="btn btn_add">Добавить</div>
        </a>
    </div>
</div>