@import 'components/search.css';
@import 'components/dish_composition_btn.css';
@import 'components/nutrient.css';

*, *::before, *::after{box-sizing: border-box; font-family: "Inter", sans-serif;}

body {
    margin: 0;
    background-color: #F5F5F5;
    color: #515151
}

a {
    text-decoration: none;
    color: #515151;
}

a:visited {
    color: #515151;
}

ul {
    margin: 0;
    padding: 2rem;
}

li {
    list-style: none;
}

.header {
    padding: 1.25rem 2rem;
    height: 5rem;
    box-shadow: 0 0 30px #000;
}

.header>div {
    display: inline-block;
}

.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_content {
    height: 2.5rem;
}

.content_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 2.5rem;
    width: 100%;
}

.grid_3 {
    display: flex;
    justify-content: flex-end;
}

.main_icon > a > img {
    height: 2.5rem;
}