{% extends 'main/pages/layout.html' %}
{% load static %}

{% block title %} Состав блюда {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/pages/dish_composition.css' %}">
{% endblock %}


{% block content %}
<div class="dish_composition">
    <div class="input_form">
        <div class=""><span>Масса тела:</span><input name="body_mass" type="text", placeholder="Масса тела..." value="{{ dish_composition_order.body_mass }}" ><span>кг</span></div>
        <div class=""><span>Масса блюда:</span><input name="dish_mass" type="text", placeholder="Масса блюда..." value="{{ dish_composition_order.dish_mass }}" ><span>г</span></div>
        <div class=""><span>Блюдо:</span><input name="dish" type="text", placeholder="Выберите блюдо..." value="{{ dish_composition_order.dish }}" ><span></span></div>
    </div>
    <p class="title">Рассчитать нутриенты</p>
    <div class="nutrients">
    {% for nutrient in dish_nutrients %}
        <div class="nutrient_calc">
            <div class="nutrient_image">
                <img src="{{ nutrient.img }}" alt="">
            </div>
            <div class="nutrient_name">{{ nutrient.name }}</div>
            <div class="amount_in_dish">
                <p>Количество в блюде: {{ nutrient.amount_in_dish}}г</p>
                <p>Процент дневной нормы: {{nutrient.daily_dose_percentage}}%</p>
            </div>
        </div>
    {% empty %}
        <p>Выберите нутриенты</p>
    {% endfor %}
    </div>
</div>
{% endblock %}